
.home-background{


}

.page-container {
  background-image: url('./assets/electric_storm.jpeg');
  height: 95vh;
  // padding-top: 10px;
  // margin-top: 20px;
  background-size: cover;
}

.navbar{
background-color: transparent;

}

.form{
  background: EEEEEE;
}

#login-form {
width: 100%;
display: block;
padding: 10px 40px 40px;

}

.column{
display: block;
flex-basis: 0;
flex-grow: 1;
flex-shrink: 1;
padding: .75em;

}

.container{
  background-color: white;
  opacity: 0.70;
  border-radius: 1rem;

  ;
}
