
.body{
// background-image: url('./assets/Tesla_Model_X.png')

}

.page-container {
  background-image: url('./assets/electric_storm.jpeg');
  height: 100vh;
  background-size: cover;
}

.navbar{
background-color: transparent;

}


.form{
  height: 80px;
}

.labelOne{
  border-bottom: 1px solid #cccccc;
  text-align: center;
}

#login-form {
width: 100%;
height: 100%;
display: block;
padding: 10px 40px 40px;
}

.column{
display: block;
flex-basis: 0;
flex-grow: 1;
flex-shrink: 1;
padding: .75em;

}

.container{
  background-color: #eeeeee;
  opacity: 0.80;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.input{
border-radius: 2rem;
}

.button{
  font-size: 10px;
  border-radius: 2rem;
  background-color: rgb(62, 107, 226);
  color: white;
  width: 100%;
}

.login-register{
  background-color: white;
  font-size: 10px;
  padding: 5px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
